<nav class="py-1 navbar navbar-expand-lg navbar-light bg-danger">
    <a class="navbar-brand text-white ml-4" href="#"><b>API v.1 System</b></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
    </div>
</nav>