<!DOCTYPE html>
<html>
<head>
    <title>API v.1</title>
    <%- include('partials/header') -%>
</head>
<body>
    <%- include('partials/menu') -%>
    <div class="container mt-5">
        <h2 class="mb-4">Ninja Name</h2>
        <div class="scene scene--card">
            <div class="card <% if (query) { %> is-flipped <% } %>">
              <div class="card__face card__face--front">
                <p>To find a name of ninja, you must enter words that are separated by commas.</p>
                <p>Example,</p>
                <blockquote>
                    <p><span>npm,rails,html5</span></p>
                  </blockquote>
                <p><strong>The exact values can be used!</strong> </p>
                <p>The name is based on a list of technology buzzwords <a href='#'>(Awesome List)</a></p>

            </div>
              <div class="card__face card__face--back">back</div>
            </div>
          </div>
        <form action="/ninjify" method="GET">
            <input type="text" name="x" class="form-control" value="<%= query %>" placeholder="npm,rails,html5">
            <button type="submit" class="btn btn-danger btn-block mt-3">Search name</button>
        </form>
    </div>
    <%- include('partials/footer') -%>
</body>
</html>
